
<form name="SearchForm" asp-action="Search" asp-controller="HangHoa">
    <div class="input-group w-100 mx-auto d-flex">
        <form asp-action="Search" asp-controller="HangHoa"></form>
        <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="SearchButton" name="query" id="SearchText">
        <span id="SearchButton" class="input-group-text p-3" onclick="SearchFrom.submit()"><i class="fa fa-search"></i></span>
    </div>
</form>